@import './fonts.css';
@import './colors.css';
@import './all.css';

/** IDENTITY ITEMS **/

#identifyFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 40px;
    background-color: var(--color-background-lighter);
}

#identifyFlex div[data-part='name'] {
    max-width: 350px;
}

#identifyFlex div[data-part='name'] h1,
#identifyFlex div[data-part='name'] p {
    margin: 0px;
}

#identifyFlex div[data-part='name'] p[data-part='alias'] span {
    color: var(--color-text-green-accent);
    background-color: var(--color-background-green-accent);
    padding: 2px 10px 2px 10px;
    border-radius: 10px;
    font-size: small;
}

#identifyFlex div[data-part='name'] h3[data-part='title'] {
    margin: 0px;
    margin-top: 25px;
}

#identifyFlex div[data-part='name'] p[data-part='aboutMe'] span {
    color: var(--color-text-lighter);
}

#identifyFlex div[data-part='name'] div[data-part='socials'] {
    margin-top: 25px;
    display: flex;
    gap: 10px;
}

#identifyFlex div[data-part='name'] div[data-part='socials'] a {
    display: inline-block;
    width: 35px;
    height: 35px;
    color: var(--color-background-green-accent);
    transition: all 500ms;
}

#identifyFlex div[data-part='name'] div[data-part='socials'] a:hover {
    color: var(--color-text-green-accent);
    /*
    color: #ffffff;
    filter: drop-shadow(0px 0px 5px attr(data-color type(<color>), black));
    */
}

#identifyFlex div[data-part='name'] p[data-part='pictureNote'] {
    margin-top: 20px;
    font-size: smaller;
    color: var(--color-text-lighter);
}

#identifyFlex div[data-part='name'] p[data-part='pictureNote'] a {
    color: var(--color-text-green-accent);
}

#identifyFlex div[data-part='picture'] img {
    max-height: 500px;
    width: auto;
    border-radius: 25px;
    filter: drop-shadow(0px 0px 15px var(--color-text-green-accent));
}

@media screen and (max-width: 530px) {
    #identifyFlex div[data-part='picture'],
    #identifyFlex div[data-part='name'] p[data-part='pictureNote'] {
        display: none;
    }
}

/** PAGE SELECTOR **/

#pageSelector {
    padding: 10px;
    background-color: var(--color-background-darker);
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#pageSelector button {
    background-color: var(--color-background-red-accent);
    color: var(--color-text-red-accent);
    padding: 5px;
    padding-left: 20px;
    padding-right: 15px;
    border: none;
    font-size: medium;
    border-radius: 10px;
    transition: all 500ms;
    font-family: ArchivoBlack;
}

#pageSelector button:hover {
    cursor: pointer;
    background-color: var(--color-text-red-accent);
    color: var(--color-background-red-accent);
}

#pageSelector button[data-selected='true'] {
    background-color: var(--color-background-green-accent);
    color: var(--color-text-green-accent);
    cursor: default;
}

/** PAGES **/

.page {
    padding: 25px;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    display: none;
}

.pageActive {
    display: block;
}

.page h1 {
    margin: 0px;
}
