/** IDENTITY ITEMS **/

#identifyFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 50px;
    gap: 25px;
    background-color: var(--color-background-lighter);
    clip-path: polygon(
        0 0,
        0 100%,
        5% 95%,
        10% 100%,
        15% 95%,
        20% 100%,
        25% 95%,
        30% 100%,
        35% 95%,
        40% 100%,
        45% 95%,
        50% 100%,
        55% 95%,
        60% 100%,
        65% 95%,
        70% 100%,
        75% 95%,
        80% 100%,
        85% 95%,
        90% 100%,
        95% 95%,
        100% 100%,
        100% 0
    );
}

#identifyFlex div[data-part='name'] {
    max-width: 350px;
}

#identifyFlex div[data-part='name'] h1 {
    margin: 0px;
}

#identifyFlex div[data-part='name'] p {
    margin: 0px;
}

#identifyFlex div[data-part='name'] p[data-part='alias'] span {
    color: var(--color-text-green-accent);
    background-color: var(--color-background-green-accent);
    padding: 2px 10px 2px 10px;
    border-radius: 10px;
    font-size: small;
}

#identifyFlex div[data-part='name'] h3[data-part='title'] {
    margin: 0px;
    margin-top: 25px;
}

#identifyFlex div[data-part='name'] p[data-part='aboutMe'] span {
    color: var(--color-text-lighter);
}

#identifyFlex div[data-part='picture'] img {
    max-height: 500px;
    width: auto;
    border-radius: 25px;
    box-shadow: 15px 15px var(--color-background-green-accent);
}
